
<h1>Litmus Email Test</h1>
<div>
		{{#each this.model.devices as |device|}}
			<b>{{device.ApplicationName}}</b>
            <br>
            <img src="https://{{device.FullpageImage}}">
            <br><br>
		{{/each}}
</div>
{{outlet}}